@import url(./reset.css);

html{
    background-image: url(../images/bricks.png);
}
h1{
    font-family: 'Fredericka the Great', cursive;
    font-size: 65px;
    display: inline-block;
    padding-top:5px;
    padding-bottom:5px;
    margin:0;
}

#question,
.answers,
a,
p,
table{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
}
p,
table{
    text-align: center;
    font-size:17px;
    line-height: 28px;
}
#start{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-weight: bold;
    color:rgb(83, 83, 83);
}
header,
main{
    width: 600px;  
    margin-left:auto;
    margin-right:auto;   
    margin-bottom: 5px;
}
#header-wrap{
    margin-top:20px;
    margin-bottom:20px;
    background-color: rgb(166, 180, 194);
    padding-left: 15px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.head-div{
    width: 20px;
    height: 85px;
    float:right;
    margin-top: -5px;
    margin-right:20px;
    border-radius:5px;
    background-color: #C8D9EB;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
.head-div#div2{
    width:5px;
    margin-right: 5px;
    background-color: #D8D6D6;
}
main{
    background-color: #D8D6D6;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}
#question{
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 4px;
}
hr{
    margin-left:15px;
    margin-right:15px;
}
#answer{
    margin-top: 30px;
    padding-bottom:20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 110px;
}
.answers{
    background-color: #C8D9EB;
    width: 45%;
    padding: 8px;
    border-radius:5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    float:left;
    margin-bottom: 15px;
}
#a2,
#a4{
    float:right;
}
.answers:hover,
#start:hover{
    background-color: white;
}
#instructions{
    /* visibility: hidden; */
    background-color: rgb(166, 180, 194);
    border-radius: 5px;
    width:556px;
    margin-left:17px;
    height: 125px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    position: absolute;
    top:185px;
    padding:5px;
}

#start{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: #C8D9EB;
    padding: 8px;
    border-radius:5px;
    margin-top: 5px;
}
br{
    line-height: 20px;
}
#win,
#lose{
    visibility: hidden;
}


footer{
    text-align: center;
    padding-bottom: 8px;
}
a{
    font-size:14px;
    text-decoration:none;
    color:rgb(83, 83, 83);
    background-color:#D8D6D6;
    border-radius:5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding:8px;
}
a:hover{
    box-shadow: -8px -5px 20px 0 rgba(0, 0, 0, 0.2), 8px 0px 20px 0 rgba(0, 0, 0, 0.2);
}
/*Flex*/
  html{
    height:100%;
    width: 100%;
  }
  .flex{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
  }  
  .flex-content{
    flex: 1 0 auto;
  }

  .flex-footer{
    flex-shrink:0;
  }
/*Media Queries*/
    /*media query at 610px width*/